.fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.298);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  min-width: 600px;
  background: #fff;
  z-index: 1;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal form {
  width: 90%;
}

.modal i {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 3rem;
  cursor: pointer;
}
