.title {
  text-align: center;
}

.container {
  max-width: 65%;
  margin: 0 auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.taskTitle {
  font-size: 1.125rem;
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions i {
  cursor: pointer;
  font-size: 1.125rem;
  transition: 0.25s;
}

.actions i:hover {
  color: dodgerblue;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 50%;
  }
}
